/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"); */



@font-face {
  font-family: 'Circular Std';
  src: url('../font/CircularStd-Black.eot');
  src: local('Circular Std Black'), local('CircularStd-Black'),
    url('../font/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('../font/CircularStd-Black.woff2') format('woff2'),
    url('../font/CircularStd-Black.woff') format('woff'),
    url('../font/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../font/CircularStd-Medium.eot');
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
    url('../font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/CircularStd-Medium.woff2') format('woff2'),
    url('../font/CircularStd-Medium.woff') format('woff'),
    url('../font/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../font/CircularStd-Bold.eot');
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
    url('../font/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/CircularStd-Bold.woff2') format('woff2'),
    url('../font/CircularStd-Bold.woff') format('woff'),
    url('../font/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}






@font-face {
  font-family: 'Circular Std Book';
  src: url('../font/CircularStd-Book.eot');
  src: local('Circular Std Book'), local('CircularStd-Book'),
    url('../font/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../font/CircularStd-Book.woff2') format('woff2'),
    url('../font/CircularStd-Book.woff') format('woff'),
    url('../font/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}






:root {
  --primaryColor: #ffb6b6;
  --seconderyColor: #fde2e2;
  --BleuDark: #679b9b;
  --BleuLight: #aacfcf;
  --greenDark: #3db9ae;
  --orangeLight: #ffd3b6;
  --mainWhite: #fff;
  --offWhite: #fdfdfd;
  /* --mainBlack: #61666b; */
  --mainBlack: #3f3f3f;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --Shadow: 0 2px 10px 1px rgba(0, 0, 0, .08);
  --ContentPadding: 40px 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Circular Std Book", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

p {
  margin-bottom: 7px;
}

ul {
  list-style-type: none;

}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 20px;
}

main {

  padding: var(--ContentPadding);
}

.btn {
  padding: 11px 46px;
  border-radius: 30px;
  font-size: 19px;
  color: #333;
  color: #fff;
  letter-spacing: 1px;

}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #776fc4;
}


.navigate {
  padding: 5px 0 20px;
}

.navigate a {
  font-weight: 500;
  color: var(--greenDark);
}

/* .defaultHero {
    min-height: calc(100vh - 62px);
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
        url("../images/defaultBcg.jpeg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .btn-white,
.btn-primary {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
    border: 2px solid var(--mainWhite);
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
}

.btn-white:hover {
    background: var(--mainWhite);
    color: var(--primaryColor);
}

.btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite);
    border: 2px solid var(--primaryColor);
}

.btn-primary:hover {
    background: transparent;
    color: var(--primaryColor);
} */

/* .gatsby-image-wrapper {
  max-height: 600px;
} */